
.headerLogo{
    width: 60px;
    height: 60px;
    
}
.myUl li {
    font-size: 14px;
    font-weight: bold;
}
.myUl li sup{
    color: red;
}
.myInput{
    width: 550px;;
}
.icon{
    font-size: 20px;
}
nav h5{
    font-size: 14px;
    font-weight: 400;
    margin: 0px 5px;
}